In [1]:
## 4.6.2 Combining & Exporting Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

### Import the data sets into Jupyter

In [3]:
path = r"C:\Users\hp\08-08-2024 Instacart Basket Analysis"

In [5]:
# Import orders_products_combined.pkl dataframe
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [11]:
df_ords_prods_combined.shape

(32434489, 10)

In [85]:
# Import products_checked.csv dataframe
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [87]:
df_prods.shape

(49672, 6)

### Check the dimensions of the imported dataframes

In [89]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [91]:
df_ords_prods_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_dow               int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int32
 7   add_to_cart_order       int8
 8   reordered               int8
 9   _merge                  category
dtypes: category(1), float64(1), int32(1), int64(5), int8(2)
memory usage: 1.7 GB

In [93]:
#changing the data type to reduce the size of the file
df_ords_prods_combined2 = df_ords_prods_combined.astype({
    'order_id': 'int32',
    'user_id': 'int32',
    'order_number': 'int16',
    'order_dow': 'int8',
    'order_hour_of_day': 'int8',
    'days_since_prior_order': 'float32',
    'product_id': 'float64',
    'add_to_cart_order': 'float16',
    'reordered': 'float16',
    })

In [53]:
df_ords_prods_combined2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int16
 3   order_dow               int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float32
 6   product_id              float64
 7   add_to_cart_order       float16
 8   reordered               float16
 9   _merge                  category
dtypes: category(1), float16(2), float32(1), float64(1), int16(1), int32(2), int8(2)
memory usage: 897.0 MB

In [94]:
# Dropping unnecessary columns to reduce the file size
df_ords_prods_combined2 = df_ords_prods_combined2.drop(['_merge'], axis=1)

In [96]:
df_ords_prods_combined2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int16
 3   order_dow               int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float32
 6   product_id              float64
 7   add_to_cart_order       float16
 8   reordered               float16
dtypes: float16(2), float32(1), float64(1), int16(1), int32(2), int8(2)
memory usage: 866.1 MB

In [99]:
df_ords_prods_combined2.shape

(32434489, 9)

In [101]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [103]:
df_prods = df_prods.drop(['Unnamed: 0'], axis=1)

In [105]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [109]:
df_prods.shape

(49672, 5)

In [107]:
#changing the data type to reduce the size of the file
df_prods2 = df_prods.astype({
    'product_id': 'float64',
    'product_name': 'object',
    'aisle_id': 'int16',
    'department_id': 'int16',
    'prices': 'float32',
    })

In [111]:
df_prods2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  float64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int16
 3   department_id  49672 non-null  int16
 4   prices         49672 non-null  float32
dtypes: float32(1), float64(1), int16(2), object(1)
memory usage: 1.1+ MB

In [113]:
# Check the output
df_prods2.head()

,product_id,product_name,aisle_id,department_id,prices
0,1.0,Chocolate Sandwich Cookies,61,19,5.8
1,2.0,All-Seasons Salt,104,13,9.3
2,3.0,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4.0,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5.0,Green Chile Anytime Sauce,5,13,4.3

In [115]:
df_prods2.shape

(49672, 5)

In [117]:
df_ords_prods_combined2.shape

(32434489, 9)

In [121]:
df_ords_prods_combined2.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196.0,1.0,0.0
1,2539329,1,1,2,8,0.0,14084.0,2.0,0.0
2,2539329,1,1,2,8,0.0,12427.0,3.0,0.0
3,2539329,1,1,2,8,0.0,26088.0,4.0,0.0
4,2539329,1,1,2,8,0.0,26405.0,5.0,0.0

# Merging products dataframe and ords_prods_combines

In [123]:
df_ords_prods_merge = df_prods2.merge(df_ords_prods_combined2, on = 'product_id', how = 'inner', indicator = True)

In [124]:
df_ords_prods_merge.shape

(32404859, 14)

In [127]:
df_ords_prods_merge['_merge'].value_counts() #check the match

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [129]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1.0,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5.0,0.0,both
1,1.0,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1.0,1.0,both
2,1.0,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20.0,0.0,both
3,1.0,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10.0,0.0,both
4,1.0,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11.0,1.0,both

### Export the newly created dataframe as ords_prods_merge in a suitable format

In [135]:
# Export dataframe in pickel format
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))

In [136]:
df_ords_prods_merge.shape

(32404859, 14)

In [30]:
# crosstab test
crosstab = pd.crosstab(df_ords_prods_merge['days_since_prior_order'], df_ords_prods_merge['order_number'], dropna = False)

In [31]:
# the above two columns can be copied and pasted on an excel sheet
crosstab.to_clipboard()

In [32]:
columns_list = df_ords_prods_merge.columns.to_list()

In [33]:
columns_list

['product_id',
 'product_name',
 'aisle_id',
 'department_id',
 'prices',
 'order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order',
 'add_to_cart_order',
 'reordered',
 '_merge']